.active {
  text-decoration-skip-ink: none;
}

.article-grid-background {
  background-image: linear-gradient(#a3a3a30f 1px, transparent 1px),
    linear-gradient(90deg, #a3a3a30f 1px, transparent 1px);
  background-size: 32px 32px;
}

:root {
  --font-sans: "Noto Sans JP", sans-serif;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

.thumbnail_card {
  min-width: 0;
}

@media (max-width: 640px) {
  #main-content table {
    font-size: 0.875rem;
  }
}
